body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
}

.container {
    width: 80vw;
    height: 100vh;
    background-color: #fafafa;
    color: #333;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 6% 8% 8% repeat(3, 50%);
    grid-row-gap: 20px;
    overflow-y: scroll; 
    justify-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    border: 1px solid grey;
}

.homepage {
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.buttons {
    float: right;
    border: 1px solid grey;
    vertical-align: middle;
}

/* .profile-button {
    float: right;
    font-size: 35px;
    background-color: transparent;
    border: none;
}

.profile-button:hover {
    cursor: pointer;
}

.profile-button:focus {
    outline: none;
} */
.search-bar {
    width: 100%;
}

.search {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.search:focus {
    outline: none;
}


.create-post {
    width: 100%;
}

.post-button {
    width: 100%;
    height: 100%;
    font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fafafa;
}

.post-button:hover {
    outline: none;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}

.post-button:focus {
    outline: none;
}

/* #posting-section {
    border: 2px solid grey;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.post { 
    border: 1px solid #ccc;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 15% 85%;
} */
#posting-section {
    border: 1px solid grey;
}

.post {
    border: 1px solid grey;
}
.profile-picture{
    float: left;
}

.name {
    font-weight: bold;
}
.date {
    display: block;
    font-size: 14px; 
}

.post-details {
    border-bottom: 1px solid #ccc;
}

.post-content {
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100vw;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        width: 70vw;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 50vw;
    }
}



