#home {
    width: 400px;
    height: 160px;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

span {
    display: inline-block;
    text-align: left;
}

#what {
    display: block;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#container {
    width: 80vw;
    height: 100vh;
    background-color: #fafafa;
    color: #333;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 6% 8% 8% repeat(3, 50%);
    grid-row-gap: 20px;
    overflow-y: auto;
    justify-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
}



#desc {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 15% 85%;
}

#submit {
    display: block;
    text-align: center;
    padding-top: 4%;
    height: 400%;
}

#descbox {
    padding: 20px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
    background-color: #333;
    display: flex;
}

input {
    right: 5%;
    left: 5%;
}