#home {
    width: 400px;
    height: 160px;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    padding: 10px;
}

span {
    display: inline-block;
    text-align: left;
}

#what {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px text-align: center;
}

#container {
    margin: auto;
    width: 50%;
    height: 70%;
    background-color: #fafafa;
    color: #333;
    position: absolute;
    display: inline-grid;
    grid-template-rows: 8% 8% 1fr;
    grid-row-gap: 20px;
    border-radius: 10px;
    justify-items: center;
    padding: 20px;
}

#desc {
    width: 90%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
    background-color: #333;
    display: flex;
}